<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374208579626-e6mtjh2pvvagsfiikbvp3hr906rh2ghe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374208579626-e6mtjh2pvvagsfiikbvp3hr906rh2ghe</string>
	<key>API_KEY</key>
	<string>AIzaSyD0CAh_bJGMgRCyzIghdRkiQtcXxPe6xV0</string>
	<key>GCM_SENDER_ID</key>
	<string>374208579626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sshashka.QuitMate</string>
	<key>PROJECT_ID</key>
	<string>quitmate-66a6a</string>
	<key>STORAGE_BUCKET</key>
	<string>quitmate-66a6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374208579626:ios:24ec40126ea75ab62edb53</string>
</dict>
</plist>